Source: hald-addon-bme
Section: devel
Priority: optional
Maintainer: Ivaylo Dimitrov <freemangordon@abv.bg>
Build-Depends: debhelper (>= 5), libglib2.0-dev, libdbus-glib-1-dev, libhal-dev, libdsme0.2.0-dev
Standards-Version: 3.7.2

Package: hald-addon-bme
Architecture: any
Depends: kernel-feature-battery, kernel-feature-rx51-battery, kernel-feature-charger, ${shlibs:Depends}, ${misc:Depends}
Conflicts: bme-dbus-proxy
Replaces: bme-dbus-proxy
Provides: bme-dbus-proxy
Description: hal battery addon for bme
 Makes battery status information from bme visible via hal.
 .
 Also provides compatibility with previously used bme-dbus-proxy by
 implementing battery and charger messages' forwarding from BME to
 status bar applet through DBus.

Package: hald-addon-bme-dev
Architecture: any
Depends: ${misc:Depends}
Description: BME HAL addon development headers
 Development headers for Battery Management Entity addon for Hardware
 Abstraction Layer.
